In [1]:
6+9

15

In [2]:
#creating
34+5

39

In [4]:
number=input("input a number")
square=int(number)**2
square

input a number30

900

In [15]:
name='Israt Jahan Jui'.split(' ')
print(name)
names=['jui','israt','jui','jahan']
names.count('jui')
names.index('jahan')
names.reverse()
print(names)
names.append('boss lady')
print(names)
names.pop()

['Israt', 'Jahan', 'Jui']
['jahan', 'jui', 'israt', 'jui']
['jahan', 'jui', 'israt', 'jui', 'boss lady']

'boss lady'

In [16]:
newn=names.copy()

In [17]:
print(newn)

['jahan', 'jui', 'israt', 'jui']

In [20]:
mult = []
for x in range(8):
    mult.append(x**2)

In [21]:
print(mult)

[0, 1, 4, 9, 16, 25, 36, 49]

In [2]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\hp\anaconda3\lib\site-packages (1.19.2)

In [3]:
import numpy as np

In [4]:
mylist= [1,2,3]
n=np.array(mylist)
n

array([1, 2, 3])

In [5]:
type(mylist)

list

In [6]:
type(n)

numpy.ndarray

In [5]:
import numpy as np

In [6]:
list_of_lists = np.array([[1,2,3], [4,5,6],[7,8,9]])
list_of_lists

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [10]:
list_of_lists.shape

(3, 3)

In [9]:
np.arange(0,10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [12]:
list_of_lists

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [14]:
for i in range (0,10,4):
    print(i)

0
4
8

In [17]:
zero= np.zeros(100)
zero

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [19]:
zero=np.eye(10)
zero

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1.]])

In [21]:
len(zero)

10

In [25]:
zero.reshape(20,5)

array([[1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1.]])

In [ ]:
zero.resize(50,2)
zero

In [ ]:
3
jui 3 4 6
hj 7 5 8
kj 9 20 22

In [ ]:
2
jui 3
kj 4 4 3
kj

In [ ]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    print(student_marks[name])

In [ ]:
2
jui 3

In [17]:
n = int(input())
my_list=[]
for x in range (n):
    my_list.append(input())
for x in range (n):
    data=str(my_list[x])
    j=int(str(data)[:1])
    print(j)
    if(my_list[x].isdigit())and (len(my_list[x])==10):
        if(j>6):
            print('YES')
else:
    print('NO')

2
6767565
9875432123
6
9
YES
NO

In [30]:
import math
import os
import random
import re
import sys
import numpy

# Complete the minimumSwaps function below.
def minimumSwaps(arr):
    temparr=arr.copy()
    temparr.sort()
    swap=0
    a = numpy.full((len(arr)),False, dtype=bool)
    
    for i in range(0,len(arr)):
        temp=i
        if(a[i]==False):
            if(temparr[i]==arr[i]):
                a[i]=True
            
            else:
                while(temparr[temp]!=arr[temp]):
                    temp+=1
                    
            print(temp)
            swap+=1
            a[temp]=True
            print(a)
            
    return swap
            
            
            
        

n = int(input())

arr = list(map(int, input().rstrip().split()))
#print(arr)

res = minimumSwaps(arr)
print(res)

4
1 3 2 4
0
[ True False False False]
3
[ True False False  True]
3
[ True False False  True]
3